<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<table>
	<tr>
		<td></td>
		<td>Title</td>
		<td>Url</td>
		<td>content</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
<% @messages.each do |message| %>
  <% tmp = "http://twhackernews.heroku.com/messages/" + message.id.to_s %>
  <tr>
    <td><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180567541999127&amp;xfbml=1"></script><fb:like href="<%= tmp %>" send="false" layout="button_count" width="300" show_faces="false" font=""></fb:like></td>
    <td><%= message.title %></td>
    <td><a href="<%= message.url %>"><%= message.url %></a></td>
	  <td><%= message.content %></td>
    <td><%= link_to 'Show', message %></td>
		<td><%= link_to 'Edit', edit_message_path(message) %></td>
		<td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'add news', new_message_path %>