<%= link_to 'add news', new_message_path %>
<script type="text/javascript">
FB.Event.subscribe('edge.create', function (response) {
        alert("comment added");
});
</script>
<table>
<% @messages.each do |message| %>
  <% tmp = "http://twhackernews.heroku.com/messages/" + message.id.to_s %>
  <tr>
		<td><script src="http://connect.facebook.net/zh_TW/all.js#xfbml=1"></script><fb:like href="<%= tmp %>" layout="button_count" show_faces="false" width="85" font=""></fb:like></td>
		<td><%= likeCountURL(tmp) %><td/>
		<% if message.url != "" %>
		    <td width=60%><a href="<%= message.url %>"><%= message.title %></a></td>
		<% else %>
			<td width=60%><%= link_to message.title, message %></td>
		<% end %>
    <td><%= link_to 'Discuss', message %></td>
  <% if message.user == current_user %>
		<td><%= link_to 'Edit', edit_message_path(message) %></td>
		<td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
		<td><%= link_to 'Destroy_tmp', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>





