<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<table>
<% @messages.each do |message| %>
  <% tmp = "http://twhackernews.heroku.com/messages/" + message.id.to_s %>
  <tr>
		<td><fb:like href="<%= tmp %>" layout="standard" show_faces="false" width="450" font=""></fb:like></td>
		<% if message.url != "" %>
		    <td><a href="<%= message.url %>"><%= message.title %></a></td>
		<% else %>
			  <td><%= link_to message.title, message %></td>
		<% end %>
    <td><%= link_to 'Discuss', message %></td>
<% if message.user == current_user %>
		<td><%= link_to 'Edit', edit_message_path(message) %></td>
		<td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'add news', new_message_path %>




