<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <meta property="og:title" content="TWHN" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content=<%= url %> />
  <meta property="og:site_name" content="TW Hacker News" />
  <meta property="fb:admins" content="100000068191335" />
  <meta property="fb:admins" content="100000068191335"/>

  
</head>
<body>
<%= url %>

<a href="javascript:window.location=%22http://twhackernews.heroku.com/messages/new?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)">bookmarklet</a>

<h1>New Message</h1>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>

</body>
</html>



