<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
	<b>Url:</b>
  <a href="<%= @message.url %>"><%= @message.url %></a>
</p>

<p>
	<b>Content:</b>
  <%= @message.content %>
</p>

<% if @message.user == current_user %>
	<%= link_to 'Edit', edit_message_path(@message) %> |
<% end %>
<%= link_to 'Back', messages_path %>

<% tmp = "http://twhackernews.heroku.com/messages/" + @message.id.to_s %>

<iframe src="http://www.facebook.com/plugins/like.php?app_id=180567541999127&amp;href=<%= tmp %>&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:35px;" allowTransparency="true"></iframe>
<div id="fb-root"></div><script src="http://connect.facebook.net/zh_TW/all.js#appId=180567541999127&amp;xfbml=1"></script><fb:like href="<%= tmp %>" send="false" width="450" show_faces="false" font=""></fb:like>
<br>
<div id="fb-root"></div><script src="http://connect.facebook.net/zh_TW/all.js#xfbml=1"></script><fb:comments href="<%= tmp %>" num_posts="10" width="450"></fb:comments>




