<p id="notice"><%= notice %></p>

<p>
  <a href="<%= @message.url %>"><%= @message.title %></a>
</p>

<p>
	<% unless @message.content == "" %>
  <%= @message.content %>
	<% end %>
</p>

<br />

<% tmp = "http://twhackernews.heroku.com/messages/" + @message.id.to_s %>

<p>
  <script src="http://connect.facebook.net/zh_TW/all.js#xfbml=1"></script><fb:like href="<%= tmp %>" layout="standard" show_faces="false" width="450" font=""></fb:like>
  <br />
  <div id="fb-root"></div><script src="http://connect.facebook.net/zh_TW/all.js#xfbml=1"></script><fb:comments href="<%= tmp %>" num_posts="10" width="450"></fb:comments>
</p>

<% if @message.user == current_user %>
	<%= link_to 'Edit', edit_message_path(@message) %> |
<% end %><%= link_to 'Back', messages_path %>
