<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>TW Hacker News</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  
  <meta property="fb:admins" content="100000068191335" />
  <meta property="og:site_name" content="TW Hacker News" />
  <meta property="og:tag image" content="https://github.com/zerodie/news/raw/master/public/images/TWHN.png"/> 
  <meta property="og:app_id" content="192496594129317"/>
  <meta property="fb:app_id" content="192496594129317">

  

</head>  
<body>
  <div class="container">
    <header>
      <a href="http://twhackernews.heroku.com"><%= image_tag("TWHN.png", :alt => "TWHN") %></a>
      <script src="http://connect.facebook.net/zh_TW/all.js#xfbml=1"></script><fb:like href="http://twhackernews.heroku.com/" send="false" layout="standard" width="450" show_faces="true" font=""></fb:like>
      <% if user_signed_in? %>
	  <% else %>
	    <nav>
          <ul>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          </ul>
	    </nav>
	  <% end %>
	</header>
  
    <section>
      <%= yield %>
    </section>
	
	<footer>
      <nav>
        <ul>
		  <li><a href="javascript:window.location=%22http://twhackernews.heroku.com/messages/new?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)">bookmarklet</a></li>
          <li>|</li>
		  <li><%= link_to "About", '/about' %></li>
		  <li>|</li>
          <li><%= link_to "Contact", '/contact' %></li>
		</ul>
      </nav>
    </footer>
	
  </div>
</body>
</html>